.app-window {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;

  .header {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 16px;
    background-color: lightgoldenrodyellow;
    align-items: center;

    .title {
      font-weight: bold;
      font-size: x-large;
      margin: 0 6px;
    }
    
    .first-page{
      margin: 0 16px;
    }

    .last-page{
      margin: 0 16px;
    }
  }
  .body {
    display: flex;
    flex: 1;
    overflow: hidden;
    flex-direction: column;

    .content-container {
      flex: 1;
      display: flex;
      overflow: auto;
      flex-direction: column;

      .user-list {
        margin: 4px 0px;
        padding: 8px;
        background-color: lightblue;
      }
    }

    .table-footer {
      display: flex;
      flex-direction: row;
      background-color: lightgoldenrodyellow;
      align-items: center;
      justify-content: center;
    }
  }
}
